.main-carousal {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 7px;
}
.carousal-container {
  padding: 10px;
  border: solid 8px #955f83;
}
.titles-container {
  width: 40%;
  text-align: right;
  color: #2d616c;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title-1 {
  font-weight: bold;
  color: #2d616c;
  font-size: 1.9rem;
}

.title-2 {
  font-weight: bold;
  color: #955f83;
  font-size: 1.9rem;
}
.title-3 {
  font-size: 1.1rem;
}

@media (max-width: 1100px) {
  .carousal-container {
    height: 34vh;
  }
  .title-1 {
    font-size: 1.3rem !important;
  }
  .title-2 {
    font-size: 1.2rem;
  }
  .slider-image {
    height: 30vh;
  }
}
@media (max-width: 750px) {
  .carousal-container {
    height: 25vh;
  }
  .slider-image {
    height: 20vh;
  }
  .title-1 {
    font-size: 1rem !important;
  }
  .title-2 {
    font-size: 0.9rem;
  }
  .title-3 {
    font-size: 0.7rem;
  }
}
